<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ModelTokenizer" value="Repository\\en-token.bin" />
    <add key="ModelSentenizer" value="Repository\\en-sent.bin" />
    <add key="ExcludedTokensList" value="Repository\\ExcludedTokens.txt" />
    <add key="EvidenceRepository" value="Repository" />
    <add key="ExcludedTokensList" value="Repository\\ExcludedTokens.txt" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>